{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=" {% static '/css/index.css' %}  " type="text/css">
    <title>History</title>
</head>
<body >
    <section class="history df" style="  background: #0c5047;">
        <h1 style="color: #fff;font-family: sans-serif;">History</h1>
        <form action="" class="history-list">
    {% for i in recent_sequences %}
        <div class="input-field">
            <input type="checkbox" name="" id="">
            <label for="" style="color: #fff;
            font-family: sans-serif;"> Sequence {{ i.id }}   :-----  </label>
            <p>{{ i.data }}</p>
        </div>
    {% endfor %}     
</form>
    </section>
</body>
</html>