{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=" {% static '/css/index.css' %}  " type="text/css">
    <title>RESET</title>
</head>
<body >
    <section class="history df" style="  background: #0c5047;">
        <h1 style="color: #fff;
        font-family: sans-serif;">Reset Sequence</h1>
        <form  class="history-list" method="post">
        {% for i in recent_sequences %} 
        <div class="input-field" >
            <input type="checkbox" name="input" value={{i.id}} id="input-check">
            <label for="input{{ i.id }}" style="color:#fff;font-family: sans-serif;">Sequence {{ i.id }}   :-----  </label>
            <p>{{ i.data }}</p>
        </div>
        {% endfor %}   
        <div class="button">
        <button type="submit" onclick=getID() style="outline: navajowhite;
        border: none;
        width: 40%;
        text-align: center;
        padding: 6px 5px;
        background: #000;
        color: #fff;
        font-size: 19px;
        font-weight: bold;
        float: left;">Click To Delete</button>
    
        <button type="submit" style="width: 40%;
            border: none;
        outline: navajowhite;
        background-color: #000;
        color: #fff;
        padding: 6px 5px;
        font-size: 19px;
        font-weight: bold;
        float: right;" ><a href="/" style="text-decoration: none; color: #fff;">Back</a></button>
        </div>
        <input name="deletedID" id= "result" hidden>    
        <h1 name="deletedID" id= "return" ></h1>    
        </form>
    </section>

    <script>
        var lg1
        function getID() {
            var input = document.getElementById('input-check');
            if (input.checked) {
                lg1 = input.value;
                document.getElementById("result").value = lg1;

            } else {
                document.getElementById("result").innerHTML= "SELECT ONE ";
            }
        }
    </script>
</body>
</html>